/********************************************************************/
// TODO this is a temp hack to fix segment overlapping ion-nav-item
// https://github.com/driftyco/ionic2/issues/506
// remove when this issue is fixed and a release is made
.ios ion-nav-items {
  z-index: 99;
}
/********************************************************************/


.item-group-title.no-results {
  background-color: transparent;
}

.item h3 {
  margin-top: 3px;
}

.reset-filters {
  color: color(danger);
}

$categories: (
  ionic: color(primary),
  angular: #AC282B,
  communication: #8E8D93,
  tooling: #FE4C52,
  services: #FD8B2D,
  design: #FED035,
  workshop: #69BB7B,
  food: #3BC7C4,
  documentation: #B16BE3,
  navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

@each $category, $value in auxiliary-categories() {
  ion-item-sliding[category=#{$category}] ion-item-content {
    border-left: 2px solid $value;
    padding-left: 10px;
  }

  ion-switch.item[category=#{$category}] {
    ion-item-content .dot {
      height: 10px;
      display: inline-block;
      width: 10px;
      background-color: $value;
      border-radius: 5px;
      margin-right: 10px;
    }
  }

}
