.scroll {
  background: #ededed;
}

.speaker-card ion-card-header {
  padding-top: 0;
  padding-bottom: 0;

  color: white;
  background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
