/*
 * Material Design
 */

.md ion-toolbar ion-button {
  letter-spacing: 0;

  text-transform: capitalize;
}

.md ion-checkbox {
  --checkbox-background-checked: transparent;
  --border-color: transparent;
  --border-color-checked: transparent;
  --checkmark-color: var(--ion-color-primary);
}

.md ion-list {
  background: inherit;
}


/*
 * iOS
 */

.ios ion-list-header {
  margin-top: 10px;
}

.ios ion-checkbox {
  color: var(--ion-color-primary);
}
