{
  "env": {
    "browser": true
  },
    "rules": {
      "curly": [2, "multi-line"],
      "new-cap": [2, {"capIsNew": false}],
      "dot-notation": [2, {"allowKeywords": false}],
      "camelcase": [2, {"properties": "never"}]
    }
}
