
.tutorial-page {
  .toolbar-background {
    background: white;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: 2.8rem;
  }

  .welcome {
    color: white;
    background-color: map-get($colors, primary);
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-bottom: 60px;
  }

  .logo img {
    max-height: 80%;
    max-width: 80%;
    margin: 20px 0;
  }

  p {
    padding: 0 16px;
    color: #666;
  }
}
