ion-list-header {
  font-size: 12px;
  font-weight: 400;

  margin: 0;

  text-transform: uppercase;

  color: var(--ion-color-step-500);
}

ion-list {
  margin-top: 8px !important;
}

/**
 * This might be an Ionic bug
 */
ion-item {
  --padding-start: 16px !important;
  --border-color: var(--ion-color-step-200);
}
