page-support {
  .support-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
  }

  .support-logo img {
    max-width: 150px;
  }

  .list {
    margin-bottom: 0;
  }

  .support-msg h4 {
    margin: 200px 80px;
  }
}