ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.slide-title {
  margin-top: 2.8rem;
}

.slide-container {
  width: 100%;
}

.slide-image {
  max-height: 50% !important;
  max-width: 80% !important;
  margin: 5vh 0;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--ion-color-step-600, #60646b);

  b {
    color: var(--ion-text-color, #000000);
  }
}
