.heading{
  margin-top: 10vh;
  text-align: center;
  h1{
    font-size: 2.5rem;
    font-weight: 1000;

  }
  p{
    color: #838383;

  }
}
.log{
  text-align: center;
  margin-top: 45px;
}
.image{
  text-align: center;
  margin-top: 45px;
}
.social-login{
  margin-top: 45px;
  text-align: center;
  p{
    color: #838383;
  }
  ion-button{
    width: 35%;
    height: 50px;
    ion-icon{
      font-size: 1.6rem;
    }
  }
  .twitter {
    --background: #00acee;
    margin-right: 20px;
  }
  .facebook{
    --background: #4267b2;
    margin-left: 20px
  }
}

.email-login{
  margin-top: 45px;
  text-align: center;
  p{
    color: #838383;
  }
}
  .signup{
    --background: #f4a637;
    width: 65%;
    height: 50px;
    text-transform: none;
    font-size: 1.6rem;
    
  }

