<ion-content>
  <div class="heading">
    <h1>Sign Up</h1>
    <p>Please Sign Up to continue.</p>
  </div>

  <form (ngSubmit)="register()" [formGroup]="credentials">
    <div class="email-login">
      <p>Or login with email</p>
      <div class="formfield">
        <input type="email" formControlName="email" name="email" id="email">
        <label for="email" placeholder="Email">Email</label>
        <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"
        >Email is invalid</ion-note>
      </div>
      <div class="formfield">
        <input type="password" formControlName="password" name="password" id="password">
        <label for="password" placeholder="Password">Password</label>
        <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"
        >Password needs to be 6 characters</ion-note>
      </div>
      <div class="other-links">
        <div class="remember-me">
          <ion-checkbox></ion-checkbox>
          <p>Remember Me</p>
        </div>
        <p class="forgot">Forgot Password</p>
      </div>
    </div>
    <div class="login-button">
      <ion-button type="submit" class="login" [disabled]="!credentials.valid">Signup</ion-button>
      <p>Already have an account?<span routerLink="/login">  Login</span><p>
      </div>
    </form>
    <ion-img src="/assets/img/rmbLogo.png" alt="rmblogo">
    </ion-img>
  </ion-content>


