<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-card *ngFor="let speaker of speakers" class="speaker">

    <ion-card-header>
      <ion-item>
        <ion-avatar item-left>
          <img [src]="speaker.profilePic" (click)="goToSpeakerDetail(speaker)">
        </ion-avatar>
        <button ion-button clear  (click)="goToSpeakerDetail(speaker)">{{speaker.name}}</button>
      </ion-item>
    </ion-card-header>

    <ion-card-content class="outer-content">
      <ion-list>
        <button ion-item *ngFor="let session of speaker.sessions" (click)="goToSessionDetail(session)">
          <h3>{{session.name}}</h3>
        </button>
      </ion-list>
    </ion-card-content>

    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="primary" icon-left (click)="goToSpeakerTwitter(speaker)">
          <ion-icon name="logo-twitter"></ion-icon>
          Tweet
        </button>
      </ion-col>
      <ion-col text-center>
        <button ion-button clear small color="primary" icon-left (click)="openSpeakerShare(speaker)">
          <ion-icon name='share-alt'></ion-icon>
         Share
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="primary" icon-left (click)="openContact(speaker)">
          <ion-icon name='chatboxes'></ion-icon>
          Contact
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
