
page-speaker-list {

  .scroll-content {
    background: #EDEDED;
  }

  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }

  .speaker-card ion-card-header,
  .speaker-card ion-card-content,
  .speaker-card ion-card-content .list ion-item-content, {
    padding: 0;
  }

  @media (min-width: 600px) {
    .speaker-card {
      width: 60%;
      margin: 10px auto;
    }
  }

}
