<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="updateSchedule()" placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="home">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list [hidden]="shownSessions === 0" class="home-article">
    <ion-item-group>
      <ion-item-sliding *ngFor="let group of groups" class="article-item">
        <ion-item (click)="goToSessionDetail(group)" no-lines>
          <div class="article-header">
            <img
              src="{{group.creator.smallHeadPic? group.creator.smallHeadPic:'http://legal-inn.oss-cn-shanghai.aliyuncs.com/u%3D1442458788%2C3017119920%26fm%3D23%26gp%3D0.jpg'}}">
              <p style="color:#2d2d2e">
                <!--{{group.title}}-->
                {{group.title.length >18 ? group.title.substring(0,20)+'...' :group.title}}
              </p>
              <p>
                <span>{{group.creator.nickName}}</span><span class="publish-time">{{group.createTime | amTimeAgo}}</span>
              </p>
          </div>
          <img *ngIf="group.showPic" style="width: 100%; height: 100%;margin-top: 5px" src="{{group.showPic}}"/>
          <p text-wrap class="article-summary">
            {{group.content}}
          </p>
        </ion-item>

        <ion-item-options>
          <button ion-button color="favorite" (click)="addFavorite(slidingItem, session)" *ngIf="segment === 'all'">
            Favorite
          </button>
          <button ion-button color="danger" (click)="removeFavorite(slidingItem, session, 'Remove Favorite')"
                  *ngIf="segment === 'favorites'">
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Data Found
  </ion-list-header>
</ion-content>
