
.reset-filters {
  color: color(danger);
}

@each $category, $value in auxiliary-categories() {

  ion-switch.item[category=#{$category}] {
    ion-item-content .dot {
      height: 10px;
      display: inline-block;
      width: 10px;
      background-color: $value;
      border-radius: 5px;
      margin-right: 10px;
    }
  }

}
