ion-toolbar {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;

  --background: transparent;
  --color: white;
}

// TODO remove !important with a fix for button
ion-toolbar ion-button,
ion-toolbar ion-back-button,
ion-toolbar ion-menu-button {
  --color: white !important;
}

.about-header {
  position: relative;

  width: 100%;
  height: 55%;
}

.about-header .about-image {
  position: absolute;

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 500ms ease-in-out;
}

.about-header .madison {
  background-image: url(/assets/img/about/madison.jpg);
}
.about-header .austin {
  background-image: url(/assets/img/about/austin.jpg);
}
.about-header .chicago {
  background-image: url(/assets/img/about/chicago.jpg);
}
.about-header .seattle {
  background-image: url(/assets/img/about/seattle.jpg);
}

.about-header .inputs-wrapper {
  position: absolute;

  display: flex;

  text-align: center;

  left: 0;
  right: 0;
  bottom: 30px;
}

.about-header .input-wrapper {
  margin: 0 auto;
}

.about-header .input-wrapper label {
  font-size: 12px;
  font-weight: 500;

  color: white;
}

.about-header ion-select,
.about-header ion-datetime {
  width: 140px;

  margin: 6px auto 0;

  background: var(--ion-background-color, #fff);

  align-items: center;

  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .03em;

  border-radius: 4px;
  padding: 8px 8px;
}

.about-header ion-select::part(placeholder),
.about-header ion-select::part(text) {
  padding-left: 10px;
}

.about-header ion-select::part(icon) {
  padding-right: 10px;
}

.about-header ion-datetime {
  padding: 9px 18px;
}

.about-info {
  position: absolute;
  margin-top: -10px;
  border-radius: 10px;
  background: var(--ion-background-color, #fff);
}

.about-info h4 {
  margin-top: 0;
  padding-top: 16px;

  text-align: left;
}

.about-info p {
  color: var(--ion-color-dark);
  text-align: left;
}

.about-info ion-icon {
  margin-inline-end: 32px;
}

.ios .about-info {
  text-align: center;
}
