.about-header {
  background-color: #444;
  padding: 16px;
  width: 100%;
  text-align: center;
}

.about-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}

.about-info p {
  color: #697072;
}

.about-info div {
  padding: 5px;
  text-align: left;
  font-size: 1.5rem;
}

.about-info icon {
  color: color(primary);
  width: 20px;
}

.ios .about-info {
  text-align: center;
}

.ios .about-info div {
  display: inline-block;
}

.ios .about-info icon {
  width: auto;
  margin-right: 10px;
}
