.about-page {
  .top-header {
    background-color: #F5F5F5;
    padding: 16px;

    .header-image {
      width: 100%;
      text-align: center;

      img {
        height: 150px;
      }
    }

    .header-info {

    }
  }
}
