App/build
App/Pods
App/App/public
App/output
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins
# Generated Config files
App/App/capacitor.config.json
App/App/config.xml

