.floor-plan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Set the height to occupy the entire viewport */
}

.floor-plan-image {
  max-width: 100%; /* Make the image responsive and fit the container */
  max-height: 80vh; /* Limit the image height to 80% of the viewport height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for aesthetics */
  border-radius: 10px; /* Add rounded corners for aesthetics */
}

