<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Floor Plan</ion-title>
  </ion-toolbar>
  <ion-segment [scrollable]="true" (ionChange)="segmentChanged($event)" value="list">
    <ion-segment-button value="list">
      Map
    </ion-segment-button>
    <ion-segment-button value="balcony">
     Camelthorn Balcony
    </ion-segment-button>
    <ion-segment-button value="camelthorn">
      Camelthorn
    </ion-segment-button>
    <ion-segment-button value="galpini">
      Galpini
    </ion-segment-button>
    <ion-segment-button value="baobab">
      Baobab
    </ion-segment-button>
    <ion-segment-button value="mopane">
      Mopane Hall
    </ion-segment-button>
    <ion-segment-button value="maerua">
      Maerua Hall
    </ion-segment-button>
    
  </ion-segment>
</ion-header>

<ion-content>

  <ion-content>
    <ion-list
      class="animate__animated animate__slideInUp animate__fast"
      *ngIf="segment === 'list'"
    >
    <div class="floor-plan-container">
      <ion-img [src]="'./assets/img/MiningExpoPlan2023.png'" class="floor-plan-image"></ion-img>
    </div>
    </ion-list>
    <ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'balcony'">
       <div class="floor-plan-container">
    <ion-img [src]="'./assets/img/CamelthornBalcony.png'" class="floor-plan-image"></ion-img>
  </div></ion-list>
        
  <ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'camelthorn'">
    <div class="floor-plan-container">
 <ion-img [src]="'./assets/img/Camelthorn.png'" class="floor-plan-image"></ion-img>
</div></ion-list>

<ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'galpini'">
  <div class="floor-plan-container">
<ion-img [src]="'./assets/img/Galpini.png'" class="floor-plan-image"></ion-img>
</div></ion-list>


<ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'baobab'">
  <div class="floor-plan-container">
<ion-img [src]="'./assets/img/Boabab.png'" class="floor-plan-image"></ion-img>
</div></ion-list>

<ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'mopane'">
  <div class="floor-plan-container">
<ion-img [src]="'./assets/img/Mopane.png'" class="floor-plan-image"></ion-img>
</div></ion-list>

<ion-list  class="animate__animated animate__slideInUp animate__fast" *ngIf="segment === 'maerua'">
  <div class="floor-plan-container">
<ion-img [src]="'./assets/img/Maerua.png'" class="floor-plan-image"></ion-img>
</div></ion-list>

  </ion-content>


</ion-content>
