ion content{
  --ion-background-color:#4c8bf7 !important;
}
ion-header{
  position:absolute;
  
}
ion-toolbar{
 --ion-background-color:transparent;
 --opacity:0;
}
.login-logo {
  min-height: 200px;

  padding: 20px 0;

  text-align: center;
}

.login-logo img {
  max-width: 250px;
}

.login-form {
  padding: 16px;
}

ion-input {
  margin-bottom: 10px;
}
.login-logo img {
  max-width: 250px;
  padding: 20px 0;
  text-align: bottom;
}
