<ion-app [class.dark-theme]="dark">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content">
      <ion-content>
        <ion-toolbar>
          <ion-title>
            <img src="/assets/img/miningexpologo.png" alt="miningexpologo" />
          </ion-title>
        </ion-toolbar>
        <ion-list lines="none">
          <ion-list-header>
            Mining Expo
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>


          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-list-header>
                Conference
            </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages_1; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>


          </ion-menu-toggle>
        </ion-list>
        <ion-list lines="none">
          <ion-list-header>
           Marketing Opportunities
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of appPages_2; let i = index">
            <ion-item [routerLink]="p.url" routerLinkActive="selected" routerDirection="root" detail="false">
              <ion-icon slot="start" [name]="p.icon + '-outline'"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>


          </ion-menu-toggle>
        </ion-list>

        <ion-list>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>



        </ion-list>

        <ion-list *ngIf="!loggedIn" lines="none">
          <ion-list-header>
            Support
          </ion-list-header>

          <ion-menu-toggle autoHide="false">
            <ion-item routerLink="/support" routerLinkActive="active" routerDirection="root" detail="false">
              <ion-icon slot="start" name="help"></ion-icon>
              <ion-label>
                Support
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <ion-icon slot="start" name="moon-outline"></ion-icon>
            <ion-toggle [(ngModel)]="dark">
              Dark Mode
            </ion-toggle>
          </ion-item>
        </ion-list>

        <ion-list lines="none">
          <ion-list-header>
            Welcome Page
          </ion-list-header >
          <ion-menu-toggle autoHide="false">
            <ion-item button (click)="openTutorial()" detail="false">
              <ion-icon slot="start" name="hammer"></ion-icon>
              <ion-label>Welcome</ion-label>
            </ion-item>
            <ion-toolbar>
              <ion-title>
                <ion-img src="/assets/img/rmbLogo.png" alt="rmblogo">
                </ion-img>
              </ion-title>
            </ion-toolbar>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>


    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>

</ion-app>
