.register-logo {
    min-height: 200px;
  
    padding: 60px 0;
  
    text-align: center;
  }
  
  .register-logo img {
    max-width: 150px;
  }
  
  .list {
    margin-bottom: 0;
  }
  
  .register-form {
    padding: 6px;
  }
  