<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="order-form-header">
    <div class="order-form-header__left">
      <div class="img img-left">
        <img src="assets/img/order-form/coupon-icon.png" alt="coupon icon">
      </div>
      <p>Buy 1 get 1 50% off Was $39.99 Now only $29.92</p>
    </div>
  </header>

  <section class="order-section">

  </section>
</ion-content>
