
<ion-list *ng-if="data" [attr.no-lines]="isMD">

  <ion-item-group *ng-for="#group of data.groups">

    <ion-item-divider sticky>
      {{group.time | date:'h:m'}}
    </ion-item-divider>

    <ion-item-sliding *ng-for="#session of group.sessions" [attr.track]="session.tracks[0]" #sliding-item>

      <button ion-item (click)="goToSessionDetail(session)">
        <h3>{{session.name}}</h3>
        <p>
          {{session.timeStart | date:'h:m'}} &mdash;
          {{session.timeEnd | date:'h:m'}}:
          {{session.location}}
        </p>
      </button>

      <ion-item-options>
        <button favorite (click)="addFavorite(slidingItem, session)" *ng-if="segment === 'all'">
          Favorite
        </button>
      </ion-item-options>

    </ion-item-sliding>

  </ion-item-group>

  <!-- <ion-list-header [hidden]="data.hasSessions">
      No Sessions Found
  </ion-list-header> -->

</ion-list>
