
.tutorial-page {

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 80%;
    margin: 20px 0;
  }

  p {
    padding: 0 16px;
    color: #666;
  }

}
