.home-page {
  .top-header {
    background-color: lightblue;
    padding: 16px;

    .header-image {
      float: left;
      margin-right: 20px;
      img {
        height: 50px;
      }
    }

    .header-info {

    }
  }

  .home-content {
    margin-top: 16px;

    .icon-listing {
      float: left;
      height: 120px;
      margin-top: 50px;
      text-align: center;
    }
    img {
      display: block;
      height: 50px;
      margin: 0 auto;
    }
    .second-icon-row {
      padding-top: 10px;
      text-align: center;
    }
  }
}


.schedule-navigation {
  height: 50px;
  line-height: 50px;
  .schedule-day {
    position: absolute;
    left: 50%;
  }

  .next-day-schedule, .previous-day-schedule {
    height: 50px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 0;
    width: 50px;
  }

  .next-day-schedule {
    left: 0;
  }
  
  .previous-day-schedule {
    right: 0;
  }
}
