<ion-content>
  <ion-buttons id="close-button">
    <ion-button color="dark" (click)="closeModal()">
      <ion-icon name="close-circle" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>

  <app-sponsor-card [id]="id"></app-sponsor-card>

  <div class="ion-padding">
    <h2 class="eas-header-large">About {{ sponsor.name }}</h2>
    <ion-text>{{ sponsor.biography }}</ion-text><br /><br />

    <!-- <h2 class="eas-header-large">Connect with {{ sponsor.name }}</h2>
    <ion-button color="light" class="connect-button">
      <div>
        <ion-icon name="logo-linkedin"></ion-icon><br />
        <ion-label>LinkedIn</ion-label>
      </div>
    </ion-button>

    <ion-button color="light" class="connect-button">
      <div>
        <ion-icon name="logo-github"></ion-icon><br />
        <ion-label>GitHub</ion-label>
      </div>
    </ion-button>

    <ion-button color="light" class="connect-button">
      <div>
        <ion-icon name="logo-twitter" size="large"></ion-icon><br />
        <ion-label>Twitter</ion-label>
      </div>
    </ion-button> -->
  </div>
</ion-content>
