<ion-navbar *navbar>
  <a menu-toggle *ng-if="!selectedItem">
    <icon menu></icon>
  </a>
  <ion-title>Lists</ion-title>
</ion-navbar>

<ion-content>
  <ion-list>
    <ion-item *ng-for="#item of items" (click)="itemTapped($event, item)">
      <icon name="{{item.icon}}" item-left></icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
  <div *ng-if="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
