/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.md .eas-header-small {
    font-size: 16px;
    font-weight: 500;
  
    min-height: 20px;
  }
  
  .ios .eas-header-small {
    font-size: 18px;
    font-weight: 700;
  }
  
  .md .eas-header-medium {
    font-size: 16px;
    font-weight: 500;
  
    min-height: 20px;
  }
  
  .ios .eas-header-medium {
    font-size: 20px;
    font-weight: 700;
  }
  
  .md .eas-header-large {
    font-size: 20px;
    font-weight: 500;
  
    min-height: 20px;
  }
  
  .ios .eas-header-large {
    font-size: 20px;
    font-weight: 700;
  }
  
  
  ion-content.page-content,
  ion-content.page-content ion-toolbar {
    --background: var(--ion-color-light);
  }
  
  .permissions-modal {
    --height: 260px;
  }
  
  ion-list.list-inset.md {
    padding-top: 0px;
    padding-bottom: 0px;
  
    border-radius: 12px;
  }
  
  .connect-button.md {
    --box-shadow: none;
    --border-radius: 16px;
  
    width: 56px !important;
  }
  
  .connect-button.md ion-label {
    display: none;
  }
  
  .connect-button.md ion-icon {
    width: 24px !important;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 16px;
  }
  
  @media (max-width: 900px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

*{
    font-family: 'Roboto', sans-serif;
}


/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used throughout
 * the entire app.
 */

@import "./app/app";
