<ion-header translucent="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>
      Conference Schedule
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-content" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conference Schedule</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <app-agenda-card
      *ngFor="let item of agenda; trackBy: trackItems"
      [id]="item.id"
    ></app-agenda-card>
  </div>

  <div class="ion-padding"></div>

</ion-content>
