// To customize the look and feel of Ionic, you can override
// the Sass variables found in Ionic's source scss files.


// App Color Variables
// ---------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

// Any Sass variables that you want to override need to be done
// in this file, before Ionic's source scss files are imported.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);

// override ionic.scss's font-path to point to the correct path
// when building from Sass source.
// More info: https://github.com/jtangelder/sass-loader#problems-with-url
$font-path: '~ionic-framework/dist/fonts';

// Ionic Sass
// ---------------------------------
@import "ionic";


// App Sass
// ---------------------------------
@import "map/map",
        "schedule/schedule",
        "session-list/session-list",
        "session-filter/session-filter",
        "speaker-list/speaker-list",
        "speaker-detail/speaker-detail",
        "about/about",
        "login/login";
