<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62716428182-9ivpcc23r65emmdtmpt851onmet3jb97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62716428182-9ivpcc23r65emmdtmpt851onmet3jb97</string>
	<key>API_KEY</key>
	<string>AIzaSyC84gtgY2IyuTU1tRcyN3gBIyikK2z0joY</string>
	<key>GCM_SENDER_ID</key>
	<string>62716428182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bid.miningexpo</string>
	<key>PROJECT_ID</key>
	<string>mining-expo-bc804</string>
	<key>STORAGE_BUCKET</key>
	<string>mining-expo-bc804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62716428182:ios:5780340b5fba94d1aa67b7</string>
</dict>
</plist>